@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overscroll-behavior: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header, .nav {
  width: 100%;
}

.header {
  background-color: #2397b1;
  text-transform: capitalize;
  padding: 10px;
}

.nav {
  padding: 10px;
  background-color: #333;
}

.nav .searchForm {
  height: 35px;
}

.nav .searchForm input {
  width: 60%;
  height: 100%;
  padding: 5px;
  outline: none;
  border: none;
  border: 1px solid #000;
  border-radius: 0.25rem;
}

.nav ul {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 15px;
}

.nav ul li {
  margin-inline: 8px;
  list-style-type: none;
  font-size: 18px;
  padding: 0.5rem;
  align-items: stretch;
}

.nav ul li .link {
  color: #fff;
  text-decoration: none;
}

.nav li .link:hover {
  background-color: #eee;
  color: #000;
  padding: 0.5rem;
}

.home, .NewPost, .PostPage, .About, .Missing {
  width: 100%;
  flex-grow: 1;
  padding: 1rem;
  margin-top: -20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.home .post {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  overflow-y: auto;
}

.home .post a {
  color: #333;
  text-decoration: none;
  text-transform: capitalize;
}

.home .post:last-child {
  border-bottom: none;
}

.home .post .postBody {
  padding: 1rem 0;
}

.PostPage .post {
  padding-top: 1rem;
}

.PostPage .post .deleteButton {
  padding: 0.5rem;
  margin-top: 10px;
  background: transparent;
  border: none;
  outline: none;
  border: 1px solid #000;
  border-radius: 0.25rem;
  background-color: rgba(255, 0, 0, 0.9);
  color: #fff;
  cursor: pointer;
}

.PostPage .post .editButton {
  padding: 0.7em;
  margin-right: 0.5rem;
  background: transparent;
  background-color: #4bd307;
  border-radius: 0.25rem;
  border: 1px solid #000;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.NewPost .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.NewPost .form input[type='text'] {
  width: 250px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  outline: none;
}

.NewPost .form textarea {
  width: 480px;
  height: 300px;
  padding: 5px;
  outline: none;
}

.NewPost button {
  padding: 5px;
  margin-top: 15px;
  width: 100px;
  background: transparent;
  background-color: #4bd307;
  border-radius: 0.25rem;
  color: #000;
  border: none;
  border: 2px solid #4bd307;
  cursor: pointer;
}

.NewPost button:focus {
  border-color: #000;
}



.footer {
  display: flex;
  justify-content: center;
  background-color: gray;
  width: 100%;
  padding: 0.5rem;
}